*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    font-family:sans-serif;
    background-color: #231f1f;
    color: #f5f5f5;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3a3939;
}

main{
    height: inherit;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

#banner{
    font-size: 1.3rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0;
}

label{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

#guessField{
    margin-top: 1rem;
    width: 60%;
    padding: .5rem;
    box-shadow: 0 5px 10px 5px rgba(159, 159, 159, 0.1);
    border: none;
    border-radius: 5px;
}

#subt{
    padding: 15px;
    color: #f5f5f5;
    background-color: #000000;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0 10px 10px 1px rgba(114, 114, 114, 0.1);
    transition: box-shadow .2s;
    font-weight: 550;
    cursor: pointer;
}

#subt:active{
    box-shadow: 0 5px 10px 4px rgba(164, 164, 164, 0.1);
}

.resultParas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.lowOrHigh{
    margin: 1rem 0;
}

/* .guesses{
    background-color: #777;
    padding: 6px;
    border-radius: 5px;
} */